#friends-display-link {
    display: block;
    text-align: center;
    background-color: #FAFAFA;
    padding: 15px 0px;
    font-size: 18px;
}

#friends-display-link i {
    color: var(--grey2);
    margin-bottom: 20px;
}

.friends-screen {
    padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
    margin-top: 25px;
    border-top: 1px solid var(--grey2);
    padding-top: 15px;
}

.friends-screen__channel-header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    color: var(--grey2);
}