#friends-display-link {
    display: block;
    text-align: center;
    justify-content: center;
    background-color: #FAFAFA;
    padding: 15px 0px;
    font-size: 18px;
    margin-bottom: 15px;
}

#friends-display-link i {
    color: var(--grey2);
}

.friends-screen {
    padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
    margin-top: 25px;
    border-top: 1px solid var(--grey2);
    padding-top: 15px;
}

.friends-screen__channel-header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    color: var(--grey2);
}

@keyframes hide-splash-screen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

#splash-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 2;
    font-size: 150px;
    color: #3C1E1E;
    animation: hide-splash-screen 0.4s ease-in-out forwards;
    animation-delay: 0.5s;
}

