.badge {    
    background-color: #FF6229;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
}

.check-p {
    position: relative;
}

.check {
    background-color: #FF6229;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
}