.chat-settings-header {
    font-size: 24px;
    display: flex;
    font-weight: 600;
    position: fixed;
    width: 100%;
    top: 45px;
    z-index: 1;
    background-color: inherit;
    padding-bottom: 20px;
}

.chat-settings-header__column {
    width: 33%;
}

.chat-settings-header__column:first-child {
    margin-left: 20px;
}

.chat-settings-header__column:nth-child(2) {
    display: flex;
    justify-content: center;
}

.chat-settings-header__column:last-child {
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
}

.chat-settings-header__column:last-child i {
    margin-left: 30px;
}