.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #F9F9FA;
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: 1px solid #DFDFDF;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    color: #2F363E;
}

.nav__link {
    position: relative;
}

.nav__notification {
    background-color: #FF6229;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    position: absolute;
    left: 22px;
    bottom: 15px;
}

.nav__check {
    background-color: #FF6229;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    left: 30px;
    bottom: 28px;
}